config/flows.json
[{"id":"1b282ad2a8f263c6","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"67985cdbc834cbb3","type":"rayConfig","rayAddress":"http://ray:8265","rayAddressType":"str","serveAddress":"http://ray:8000","serveAddressType":"str"},{"id":"29a744f9f8f8874d","type":"postgreSQLConfig","name":"","host":"postgres","hostFieldType":"str","port":"5432","portFieldType":"num","database":"postgres","databaseFieldType":"str","ssl":"false","sslFieldType":"bool","applicationName":"","applicationNameType":"str","max":"10","maxFieldType":"num","idle":"1000","idleFieldType":"num","connectionTimeout":"10000","connectionTimeoutFieldType":"num","user":"postgres","userFieldType":"str","password":"admin","passwordFieldType":"str"},{"id":"4aa8c146e14b5457","type":"inject","z":"1b282ad2a8f263c6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"hello! How are you today?","payloadType":"str","x":150,"y":420,"wires":[["fab2d147bd24ee29"]]},{"id":"8a353f104266b6b7","type":"debug","z":"1b282ad2a8f263c6","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":420,"wires":[]},{"id":"0ac04ebf60711eea","type":"ray serve","z":"1b282ad2a8f263c6","server":"67985cdbc834cbb3","name":"","route_prefix":"/hello-world","variable_name":"app","package_manager":"pip","dependencies":[],"env_vars":[],"code":"from ray import serve\n\n@serve.deployment\nclass HelloWorld:\n    async def __init__(self):\n        pass\n    async def __call__(self, http_request) -> str:\n        msg: dict = await http_request.json()\n        return {\"payload\": \"Hello from ray!\", \"received\": msg}\n                \napp = HelloWorld.bind()\nserve.run(app)","deployments":[{"name":"HelloWorld","DETECTED_FROM_PYTHON":{}}],"deploymentArgs":{"HelloWorld":{"DETECTED_FROM_PYTHON":{}}},"x":530,"y":380,"wires":[["8a353f104266b6b7"]]},{"id":"71d33ea259873f69","type":"ray serve","z":"1b282ad2a8f263c6","server":"67985cdbc834cbb3","name":"","route_prefix":"/asdf","variable_name":"app","package_manager":"pip","dependencies":[],"env_vars":[],"code":"from ray import serve\n\n@serve.deployment\nclass HelloWorld2:\n    async def __call__(self, http_request) -> str:\n        msg: dict = await http_request.json()\n        return {\"payload\": \"Hello from ray 2!\", \"received\": msg}\n\n    \napp = HelloWorld2.bind()","deployments":[{"name":"HelloWorld2","DETECTED_FROM_PYTHON":{}}],"deploymentArgs":{"HelloWorld2":{"DETECTED_FROM_PYTHON":{}}},"x":510,"y":440,"wires":[["8a353f104266b6b7"]]},{"id":"304b2fc1ecd56de4","type":"http request","z":"1b282ad2a8f263c6","name":"query ray deployment","method":"GET","ret":"txt","paytoqs":"body","url":"http://ray:8000//asdf","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":400,"y":600,"wires":[["4a28b7320d2cf247"]]},{"id":"65cc7d67882dff25","type":"inject","z":"1b282ad2a8f263c6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":190,"y":600,"wires":[["304b2fc1ecd56de4"]]},{"id":"4a28b7320d2cf247","type":"debug","z":"1b282ad2a8f263c6","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":600,"wires":[]},{"id":"f296ec25d329b1f4","type":"ray serve","z":"1b282ad2a8f263c6","server":"67985cdbc834cbb3","name":"","route_prefix":"/translate","variable_name":"app","package_manager":"pip","dependencies":[{"name":"transformers"},{"name":"torch"}],"env_vars":[],"code":"import time\nfrom ray import serve\n# from transformers import pipeline\n\n\n@serve.deployment(max_queued_requests=50)\nclass Translator:\n    # def __init__(self):\n    #     # Load model\n    #     self.model = pipeline(\"translation_en_to_fr\", model=\"t5-small\")\n\n    def translate(self, text: str) -> str:\n        # # Run inference and return the translation text\n        # translation = self.model(text)[0][\"translation_text\"]\n        # return translation\n        time.sleep(0.5)\n        return text\n\n    async def __call__(self, http_request) -> str:\n        english_text: str = await http_request.json()\n        return \"aabccc\"+self.translate(english_text)\n         \napp = Translator.bind()","deployments":[{"name":"Translator","DETECTED_FROM_PYTHON":{"max_queued_requests":50}}],"deploymentArgs":{"HelloWorld":{},"Translator34":{"something":5,"DETECTED_FROM_PYTHON":{"num_replicas":3}},"Translator":{"DETECTED_FROM_PYTHON":{"max_queued_requests":50}}},"x":520,"y":300,"wires":[["fdd77c7ad943a72f","88e103cb8fe955d6"]]},{"id":"fdd77c7ad943a72f","type":"debug","z":"1b282ad2a8f263c6","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":360,"wires":[]},{"id":"3dd4cc4be799ba10","type":"ray serve","z":"1b282ad2a8f263c6","server":"67985cdbc834cbb3","name":"","route_prefix":"/batched_translate","variable_name":"app","package_manager":"pip","dependencies":[{"name":"transformers"},{"name":"torch"}],"env_vars":[],"code":"import time\nimport asyncio\nfrom ray import serve\n# from transformers import pipeline\n\n\n@serve.deployment(max_queued_requests=50)\nclass Translator:\n    # def __init__(self):\n    #     self.model = pipeline(\"translation_en_to_fr\", model=\"t5-small\")\n\n    def translate(self, text) -> str:\n    #     return [t[\"translation_text\"] for t in self.model(text)]\n        time.sleep(0.2*len(text))\n        return text\n\n    @serve.batch(max_batch_size=8, batch_wait_timeout_s=0.1)\n    async def __call__(self, requests) -> str:\n        text: str = await asyncio.gather(*(r.json() for r in requests))\n        return self.translate(text)\n                \napp = Translator.bind()","deployments":[{"name":"Translator","DETECTED_FROM_PYTHON":{"max_queued_requests":50}}],"deploymentArgs":{"HelloWorld":{},"Translator34":{"something":5,"DETECTED_FROM_PYTHON":{"num_replicas":3}},"Translator":{"DETECTED_FROM_PYTHON":{"max_queued_requests":50}},"BatchedTranslator":{"DETECTED_FROM_PYTHON":{}}},"x":550,"y":240,"wires":[["fdd77c7ad943a72f","89cbefdbc48a8d6c","88e103cb8fe955d6"]]},{"id":"2bd11c464750ae60","type":"inject","z":"1b282ad2a8f263c6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":190,"y":540,"wires":[["52cd0ec8808ab2d7"]]},{"id":"52cd0ec8808ab2d7","type":"http request","z":"1b282ad2a8f263c6","name":"query ray deployment","method":"GET","ret":"txt","paytoqs":"body","url":"http://ray:8000//hello-world","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":400,"y":540,"wires":[["9b98464332e6fa0b"]]},{"id":"9b98464332e6fa0b","type":"debug","z":"1b282ad2a8f263c6","name":"debug 4","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":540,"wires":[]},{"id":"03e0fef603eb1235","type":"inject","z":"1b282ad2a8f263c6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":190,"y":660,"wires":[["ffb7cf6a4151efae"]]},{"id":"ffb7cf6a4151efae","type":"http request","z":"1b282ad2a8f263c6","name":"list routes","method":"GET","ret":"txt","paytoqs":"body","url":"http://ray:8000//-/routes","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":360,"y":660,"wires":[["e7489e5f80477c88"]]},{"id":"e7489e5f80477c88","type":"debug","z":"1b282ad2a8f263c6","name":"debug 5","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":660,"wires":[]},{"id":"2ef41ea6e4554760","type":"ray serve","z":"1b282ad2a8f263c6","server":"67985cdbc834cbb3","name":"","route_prefix":"/translate-replicas","variable_name":"app","package_manager":"pip","dependencies":[{"name":"transformers"},{"name":"torch"}],"env_vars":[],"code":"import time\nfrom ray import serve\n# from transformers import pipeline\n\n@serve.deployment(\n    num_replicas=3,\n    max_queued_requests=50,\n)\nclass Translator:\n    # def __init__(self):\n    #     self.model = pipeline(\"translation_en_to_fr\", model=\"t5-small\")\n\n    def translate(self, text: str) -> str:\n        # return self.model(text)[0][\"translation_text\"]\n        time.sleep(0.5)\n        return text\n\n    async def __call__(self, http_request) -> str:\n        english_text: str = await http_request.json()\n        return \"asdfasdf \" + self.translate(english_text)\n         \napp = Translator.bind()\n","deployments":[{"name":"Translator","DETECTED_FROM_PYTHON":{"num_replicas":3,"max_queued_requests":50}}],"deploymentArgs":{"HelloWorld":{},"Translator34":{"something":5,"DETECTED_FROM_PYTHON":{"num_replicas":3}},"Translator":{"DETECTED_FROM_PYTHON":{"num_replicas":3,"max_queued_requests":50}},"TranslatorReplicas":{"DETECTED_FROM_PYTHON":{"num_replicas":3}}},"x":530,"y":160,"wires":[["fdd77c7ad943a72f","b0ebd0df05d4b8bb","88e103cb8fe955d6"]]},{"id":"dc7375473b416612","type":"function","z":"1b282ad2a8f263c6","name":"","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":405,"y":140,"wires":[["2ef41ea6e4554760","a706740b97bd67d3"]],"icon":"node-red/cog.svg","l":false},{"id":"0e1151c76dc10b6b","type":"function","z":"1b282ad2a8f263c6","name":"","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":415,"y":420,"wires":[["71d33ea259873f69","0ac04ebf60711eea"]],"icon":"node-red/cog.svg","l":false},{"id":"fab2d147bd24ee29","type":"function","z":"1b282ad2a8f263c6","name":"","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":335,"y":340,"wires":[["0e1151c76dc10b6b","a779ed058d9a8340","f4ae9b65226d6062"]],"icon":"node-red/cog.svg","l":false},{"id":"f052829ab83e1841","type":"inject","z":"1b282ad2a8f263c6","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"May I take your hat, sir?","payloadType":"str","x":130,"y":180,"wires":[["a779ed058d9a8340"]]},{"id":"34846efe2d07febd","type":"inject","z":"1b282ad2a8f263c6","name":"","props":[{"p":"payload"},{"p":"timestamp","v":"","vt":"date"}],"repeat":"0.2","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Eat at the Krusty Krab","payloadType":"str","x":140,"y":280,"wires":[[]]},{"id":"880a1eedbcd64ad8","type":"inject","z":"1b282ad2a8f263c6","name":"","props":[{"p":"payload"},{"p":"timestamp","v":"","vt":"date"}],"repeat":"0.6","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Eat at the Krusty Krab","payloadType":"str","x":140,"y":360,"wires":[["f4ae9b65226d6062"]]},{"id":"a706740b97bd67d3","type":"ray serve","z":"1b282ad2a8f263c6","server":"67985cdbc834cbb3","name":"","route_prefix":"/translate-replicas2","variable_name":"app","package_manager":"pip","dependencies":[{"name":"transformers"},{"name":"torch"}],"env_vars":[],"code":"import time\nfrom ray import serve\n# from transformers import pipeline\n\n@serve.deployment(num_replicas=4)\nclass Translator:\n    # def __init__(self):\n    #     self.model = pipeline(\"translation_en_to_fr\", model=\"t5-small\")\n\n    def translate(self, text: str) -> str:\n        # return self.model(text)[0][\"translation_text\"]\n        time.sleep(0.5)\n        return text\n\n    async def __call__(self, http_request) -> str:\n        english_text: str = await http_request.json()\n        return \"asdfasdf \" + self.translate(english_text)\n         \napp = Translator.bind()\n","deployments":[{"name":"Translator","DETECTED_FROM_PYTHON":{"num_replicas":4}}],"deploymentArgs":{"HelloWorld":{},"Translator34":{"something":5,"DETECTED_FROM_PYTHON":{"num_replicas":3}},"Translator":{"DETECTED_FROM_PYTHON":{"num_replicas":4}},"TranslatorReplicas":{"DETECTED_FROM_PYTHON":{"num_replicas":3}}},"x":530,"y":100,"wires":[["fdd77c7ad943a72f","02523b4c2407a6db","88e103cb8fe955d6"]]},{"id":"3dcbbf7f2322b867","type":"debug","z":"1b282ad2a8f263c6","name":"debug 6","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"timestamp","targetType":"msg","statusVal":"payload","statusType":"auto","x":1240,"y":160,"wires":[]},{"id":"f4ae9b65226d6062","type":"function","z":"1b282ad2a8f263c6","name":"","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":415,"y":280,"wires":[["f296ec25d329b1f4","3dd4cc4be799ba10"]],"icon":"node-red/cog.svg","l":false},{"id":"a779ed058d9a8340","type":"function","z":"1b282ad2a8f263c6","name":"","func":"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":345,"y":200,"wires":[["dc7375473b416612"]],"icon":"node-red/cog.svg","l":false},{"id":"bfa94583678d1d17","type":"http request","z":"1b282ad2a8f263c6","name":"get application","method":"GET","ret":"obj","paytoqs":"body","url":"http://ray:8265/api/serve/applications/","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":380,"y":720,"wires":[["61a144f26f82e181"]]},{"id":"497ed6b37a258a83","type":"inject","z":"1b282ad2a8f263c6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{}","payloadType":"json","x":190,"y":720,"wires":[["bfa94583678d1d17"]]},{"id":"61a144f26f82e181","type":"debug","z":"1b282ad2a8f263c6","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":600,"y":720,"wires":[]},{"id":"412d777b427a0857","type":"inject","z":"1b282ad2a8f263c6","name":"","props":[{"p":"payload"},{"p":"timestamp","v":"","vt":"date"}],"repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Eat at the Krusty Krab","payloadType":"str","x":140,"y":240,"wires":[[]]},{"id":"02523b4c2407a6db","type":"debug","z":"1b282ad2a8f263c6","name":"debug 8","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":860,"y":100,"wires":[]},{"id":"b0ebd0df05d4b8bb","type":"debug","z":"1b282ad2a8f263c6","name":"debug 9","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":860,"y":40,"wires":[]},{"id":"89cbefdbc48a8d6c","type":"debug","z":"1b282ad2a8f263c6","name":"debug 10","active":false,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":860,"y":160,"wires":[]},{"id":"afa7371ad88adeaf","type":"inject","z":"1b282ad2a8f263c6","name":"","props":[{"p":"payload"},{"p":"timestamp","v":"","vt":"date"}],"repeat":"0.3","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"Eat at the Krusty Krab","payloadType":"str","x":140,"y":320,"wires":[["a779ed058d9a8340"]]},{"id":"88e103cb8fe955d6","type":"switch","z":"1b282ad2a8f263c6","name":"","property":"timestamp","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":1070,"y":100,"wires":[["3dcbbf7f2322b867","552b18fdbcaaeda7"]]},{"id":"552b18fdbcaaeda7","type":"postgresql","z":"1b282ad2a8f263c6","name":"","query":"INSERT INTO data (\n    time,\n    route,\n    inputPayload,\n    payload,\n    rayQueueCountCurrent,\n    rayQueueCountBacklog\n) VALUES (\nto_timestamp('{{{msg.timestamp}}}' / 1000.0),\n'{{{msg.route}}}',\n'{{{msg.inputPayload}}}',\n'{{{msg.payload}}}',\n{{{msg.rayQueueCountCurrent}}},\n{{{msg.rayQueueCountBacklog}}}\n)","postgreSQLConfig":"29a744f9f8f8874d","split":false,"rowsPerMsg":1,"outputs":1,"x":1250,"y":100,"wires":[[]]},{"id":"8b46d22336c2e5df","type":"catch","z":"1b282ad2a8f263c6","name":"","scope":["3dd4cc4be799ba10"],"uncaught":false,"x":950,"y":560,"wires":[["184cf2501934924a"]]},{"id":"184cf2501934924a","type":"debug","z":"1b282ad2a8f263c6","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1100,"y":560,"wires":[]}]